<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="Phoenix" android:icon="@drawable/phoenix_logo"
        android:roundIcon="@drawable/phoenix_logo" android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false" android:allowBackup="false">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
